/* REQUIRED CSS */ /*all of it is required, are you on drugs? */
.a_chat_pm tr, .a_chat_pm td, .a_chat_tab tr, .a_chat_tab td, .a_chat_cmd tr, .a_chat_cmd td { 
  display:none!important; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
}
.a_chat_pm:before, .a_chat_tab:before, .a_chat_cmd:before { 
  content: 'Hidden Content'; 
  font-style: italic; 
  font-family: Verdana,Arial,Helvetica,sans-serif;
}";


/* AvacWeb Chat CSS (2.0+) */


/* -------------------------
 *  MAIN AVACWEB CHAT ELEMENTS
 * -------------------------
 */
#avacweb_chat {  /* the box that holds the chat */
	position: fixed;
	bottom: 25px;
	right: 10px;
	height: 70%;
	width: 75%;
	z-index: 99998;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}mar
#avacweb_chat iframe {
   border: 2px solid #2e2e2e!important;
   font-family: Verdana,Arial,Helvetica,sans-serif;
}
.custom_placement #avacweb_chat { /* fixes the positioning of an AWC placed in page using custom_placement */
	position: relative;
	height: 400px;
	min-width: 700px;
	bottom: initial;
	top: initial;
	z-index: inherit;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
/*#avacweb_chat_button { 
	position: fixed;
	right: 29px;
	font-size: 1.3em;
	font-weight: bold;
	z-index: 99999;
	bottom: 0px;
	background: #000000;
    	box-shadow: inset 0 10px 10px #111316;
    	-moz-box-shadow: inset 0 10px 10px #111316;
    	-webkit-box-shadow: inset 0 10px 10px #111316;
    	color: #FFF;
    	border: 1px solid #161616;
	padding: 5px 7px;
	text-align: center;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	text-shadow: 0 0px #FFF;
}
#avacweb_chat_button:hover {
	border: 1px solid #7A0000!important;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#avacweb_chat_button.newmsg { 
	background: #FFA500;
	box-shadow: inset 0 10px 10px #F0D443;
	-moz-box-shadow: inset 0 10px 10px #F0D443;
	-webkit-box-shadow: inset 0 10px 10px #F0D443;
	color: #FFF;
	text-shadow: 0 1px #555;
	border: 1px solid #C5946D;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
*//* The button that opens the chat */

/* my additions */
#avacweb_chat_button {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #75736f);
  background-image: -moz-linear-gradient(top, #000000, #75736f);
  background-image: -ms-linear-gradient(top, #000000, #75736f);
  background-image: -o-linear-gradient(top, #000000, #75736f);
  background-image: linear-gradient(to bottom, #000000, #75736f);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  -webkit-box-shadow: 0px 0px 7px #751700;
  -moz-box-shadow: 0px 0px 7px #751700;
  box-shadow: 0px 0px 7px #751700;
  font-family: Arial;
  color: #e6e6e6;
  font-size: 21px;
  padding: 10px 15px 10px 15px;
  /*border: solid #751700 2px;*/
  text-decoration: none;
  margin-bottom: 9px;
  margin-right: 7px;
  color: #991F00;
  text-shadow: 0px 0px 3px #000;
}

#avacweb_chat_button:hover {
  background: #0f0f0f;
  background-image: -webkit-linear-gradient(top, #0f0f0f, #516880);
  background-image: -moz-linear-gradient(top, #0f0f0f, #516880);
  background-image: -ms-linear-gradient(top, #0f0f0f, #516880);
  background-image: -o-linear-gradient(top, #0f0f0f, #516880);
  background-image: linear-gradient(to bottom, #0f0f0f, #516880);
  text-decoration: none;
}

#avacweb_chat_button.newmsg {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #e3a446);
  background-image: -moz-linear-gradient(top, #000000, #e3a446);
  background-image: -ms-linear-gradient(top, #000000, #e3a446);
  background-image: -o-linear-gradient(top, #000000, #e3a446);
  background-image: linear-gradient(to bottom, #000000, #e3a446);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  -webkit-box-shadow: 0px 0px 7px #751700;
  -moz-box-shadow: 0px 0px 7px #751700;
  box-shadow: 0px 0px 7px #751700;
  font-family: Arial;
  color: #EADAD6; /*whiter white*/
  font-size: 21px;
  padding: 10px 15px 10px 15px;
  /*border: solid #751700 2px;*/
  text-decoration: none;
}
#awc_tabs { /* The box that holds the tabs */
	background: #1C1C1C;
	border-bottom: 1px solid #CCC;
	padding: 0;
	margin: 0;
	display: block;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: .9em;
}
#awc_header { /* the top header */
	background: #991F00;
	padding: 5px;
	font-family: Adventure,Verdana,Arial,Helvetica,sans-serif;
}
#awc_footer { /* the bottom footer containing hte buttons and message box */
	clear: both;
	background: #991F00;
	padding: 5px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#awc_rightbox { /* the box right of the userlist contianing the messages and tabs */
	float: right;
	width: 80%;
	height: 79%;
	background: #1C1C1C;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#awc_userlist { /* the memberlist on the left */
	font-size: .7em;
	font-weight: 600;
	float: left;
	width: 20%;
	height: 79%;
	background: #1C1C1C;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#awc_messages { /* box where the messages appear. */
	max-height: 93%;
	min-height: 93%;
	overflow: auto;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}


/* ---------------------
 * SMALLER ELEMENTS WITHIN AWC
 * ---------------------
 */
 #awc_title { /* The chat title */
	color: #FFF;
	text-shadow: 0 1px #00F;
	font-weight: bold;
	font-size: 1.4em;
	margin-left: 10px;
	/*font-family: Verdana,Arial,Helvetica,sans-serif;*/
}
#awc_buttons { /* the box which holds the header buttons */
	float: right;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#awc_userlist h4.member-title { /* 'Online' title on memberlist. */
	text-align: center;
	padding: 7px;
	background: #7A0000;
	font-weight: bold;
	font-size: 1.2em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#awc_userlist li { /* online user row */
	font-size: 1.1em;
	padding: 5px;
	list-style-type: none;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#awc_userlist li.idle { /* styling for an idle user in list */
	font-style: italic;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#awc_userlist li.idle:after { /* (Idle) after an idle user */
	font-style: italic;
	content: '(AFK)';
	color: #FFF;
	margin-left: 5px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.achat_tab { /* Design of the actual tabs */
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius:0;
	margin: 0;
	border: none;
	border-right: 1px solid #FFF;
	padding: 3px 17px;
	color: #CC3300;
	font-weight: bold;
	display: inline-block;
	background: #C8D8EB;
	text-shadow: 0 1px #EEE;
	cursor: pointer;
	box-shadow: inset 0 5px 5px #DFE9FA;
	-moz-box-shadow: inset 0 5px 5px #DFE9FA;
	-webkit-box-shadow: inset 0 5px 5px #DFE9FA;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#achat_login {  /* Red log in box when user is logged out */
	background: #444;
	border: 1px solid #2e2e2e;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 10px 15px #888 inset;
	-moz-box-shadow: 0 10px 15px #888 inset;
	-webkit-box-shadow: 0 10px 15px #888 inset;
	color: #696962;
	/*color: #808078;*/
	font-size: 1.3em;
	font-weight: 700;
	margin: 10px auto;
	width: 90%;
	padding: 5px 0;
	text-shadow: 0 1px #CC0000;
	text-align: center;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#awc_form {
	float: right;
	width: 50%;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

.achat_button { /* The grey-style button found through out AWC */
	display: inline-block;
	padding: 3px 12px;
	border: 1px solid #AAA;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 5px 10px #EEE;
	-moz-box-shadow: inset 0 5px 10px #EEE;
	-webkit-box-shadow: inset 0 5px 10px #EEE;
	background: #DDD;
	color: #777;
	text-shadow: 0 1px #EEE;
	cursor: pointer;
	margin: 0 3px;
	font-size: .7em;
	/*font-size: 1em;*/
	margin-top:2px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
.achat_button:hover {
	color: #444;
	border: 1px solid #888;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
.achat_row { /* Each message row in the chatbox */
    border-bottom: 1px solid #DDD;
    border-top: 1px solid #FFF;
    padding: 5px 2px;
    min-height: 22px;
    line-height: 21px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}
.achat_row.my_message { /* different background color for your own messages in the chat */
	background: #232424;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
.achat_row .user {
	font-weight: 700;
}
.achat_row .date-and-time {
	float: right;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
.achat_row .awc_avatar {
	height: 20px;
	width: 20px;
	padding: 1px;
	margin-right: 5px;
	border: 1px solid #DDD;
	float: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#achat_user_prefs, #achat_smilies, #achat_colors, #achat_popup { /*The pop up boxes that display user options, smilies, colors */
	position: absolute;
	bottom: 15%;
	background: #161616;
	padding: 10px;
	border: 1px solid #BBB;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	text-shadow: 0 1px black;
	box-shadow: 3px 3px 10px #888, inset 0 20px 20px #474747;
	max-height: 250px;
	overflow: auto;
	left: 5%;
	max-width: 250px;
	/*color: white;*/
	font-size: .7em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}
#achat_popup {
	text-align: center;
	left: 20%;
	min-width: 45%;
}
#achat_popup.error {
	border: 2px solid #E76878;
}
.awc_x { /* the 'X' close button.  */
	float: right;
	margin-right: 5px;
	margin-top: -10px;
	font-weight: bold;
	cursor: pointer;
	color: #E27474;
	text-shadow: 0 1px #FFF;
	font-size: 2em;
	font-family: sans;
}
.awc_x:hover {
	color: #D52727;
}

.achat_user_setting { /* User options in the small box. */
	margin: 3px 0;
	border: 1px solid #CCC;
	padding: 2px 5px;
	width: 150px;
}
.achat_user_setting input {
	float: right;
}
.achat_pm_prepend { /* The small bit that says 'Private messsage:' at the start of PM's */
	font-weight: bold;
	font-style: italic;
	font-size: 0.8em;
	margin-right: 5px;
}
#awc_contextmenu { /* The drop down menu when right-click a user name */
	background: #EEE;
	position: absolute;
	z-index: 9999;
	border: 1px solid #CCC;
	width: 187px;
	height: 380px;
}
#awc_contextmenu p { /* The options within the dropdown menu */
	padding: 3px 5px;
	border-bottom: 1px solid #CCC;
	cursor: pointer;
	font-size: 0.7em;
	color: #9B9B9B;
}
#awc_contextmenu p:hover {
	background: #DDD;
	box-shadow: inset 0 5px 10px white;
	-moz-box-shadow: inset 0 5px 10px white;
	-webkit-box-shadow: inset 0 5px 10px white;
}
#awc_contextmenu p.contexthead {
	background: #CCC;
	padding: 5px;
	color: #555;
	font-size: .9em;
	font-weight: bold;
	box-shadow: inset #DDD 0 10px 15px;
	-moz-box-shadow: inset #DDD 0 10px 15px;
	-webkit-box-shadow: inset #DDD 0 10px 15px;
	text-shadow: 0 1px white;
	cursor: default;
}
#awc_contextmenu .contexthead img {
	float: right;
	cursor: pointer;
}
#achat_dimensions { /* Positions the resize/move buttons */
	width: 80px;
	height: 30px;
	display: inline;
}
#achat_dimensions span { /* Design of the resize and drag buttons */
	opacity: 0.7;
	-moz-opacity: 0.7;
	-webkit-opacity: 0.7;
	filter: alpha(opacity=70);
	display: block;
	height: 20px;
	width: 20px;
	float: left;
	margin-left: 5px;
	background-color: #EEE;
	padding: 2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center center;
}
#achat_dimensions span:hover {
	opacity: 1;
	-moz-opacity: 1;
	-webkit-opacity: 1;
	filter: alpha(opacity=100);
}
#achat_resizer { background-image: url(http://i14.servimg.com/u/f14/17/20/25/96/resize10.gif); }
#achat_mover { background-image: url(http://i14.servimg.com/u/f14/17/20/25/96/move_i10.jpg); }

.achat_tab .delete_tab { /* The delete button on tabs */
	position: absolute;
	font-family: sans;	
	display: none;		
	color: #E71919;
	text-shadow: none;
	font-weight: bold;
	font-size: 18px;
	margin-left: 3px;
	opacity: 0.8;
}

/* -----------------------
 * ELEMENT TWEEKS FOR SETTINGS
 * -----------------------
 */
.achat_button.reading { /* Changes the reading button when in reading mode */
	color: red;
}
#achat_smilies, #achat_colors { /* Tweeks the width of the colors and smilies box to  look neat */
	max-width: 96%;
	margin: 0 2%;
}
#achat_colors td {
    cursor: crosshair;
    padding: 5px;
    border: 1px solid #FFF;
}
.a_chat_pm, table.a_chat_pm, .a_chat_tab, .a_chat_cmd {
	display: none!important;
}
.achat_tab.selected { /* Changes the design of the tab when its selected */
	background: #5C8AFF;
	color: #FFF;
	text-shadow: 0 1px #222;
	box-shadow: inset 0 5px 5px #669CF8;
	-moz-box-shadow: inset 0 5px 5px #669CF8;
	-webkit-box-shadow: inset 0 5px 5px #669CF8;
}
.achat_tab:hover .delete_tab {
	display: inline;
}
.achat_tab.new {
	background: #F0D096;
}
#achat_smilies p.center, #achat_smilies input[type="submit"] {
	display: none;
}

#awc_message { /* the actual message thingy where you type your msgs duh*/
	width: 80%;
	height: 50%;
	padding: 3px 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: inset 0 3px 5px #363636;
	-moz-box-shadow: inset 0 3px 5px #363636;
	-webkit-box-shadow: inset 0 3px 5px #363636;
	border: 1px solid #888;
}


/* ----------------------
 *  MOBILE ADJUSTMENTS
 * ---------------------- */
 
 #avacweb_chat_holder.mobile {
	font-size: 100%;
	
 }
.mobile #avacweb_chat {
	top: 0px;
	bottom: 5%;
	right: 0px;
	height: 95%;
	width: 100%;
}
.mobile #awc_footer > .achat_button {
	display: none;
}
.mobile #awc_form, .mobile #awc_userlist, .mobile #awc_rightbox {
	float: inherit;
	width: 100%;
}
.mobile #awc_message {
	width: 70%;
}
.mobile #awc_userlist {
	max-height: 150px;
	overflow: auto;
	height: auto;
}
.mobile #awc_userlist li {
	display: inline;
}
.mobile #awc_rightbox {
	height: 70%;
}
.mobile #avacweb_chat_button {
	width: 100%;
	height: 5%;
}
.mobile #awc_buttons {
	float: inherit;
}
.mobile .achat_row .date-and-time, .mobile #awc_title {
	display: none;
}
/* Already Existing elements */
/*#chatbox_messenger_form {
   color: #cc0000!important;
}
#chatbox_header, #chatbox_footer {
background-image: url("http://i45.servimg.com/u/f45/17/55/77/65/nav-bg10.png") !important;
background-repeat: repeat !important;
background-color: #161617!important;
   box-shadow: inset 0 0px 0px #cc0000 !important;
   -moz-box-shadow: inset 0 0px 0px #cc0000 !important;
   -webkit-box-shadow: inset 0 0px 0px #cc0000 !important;
   text-shadow: 0 1px #cc0000!important;
}
.chatbox_row_1 {
   background-color: #1f1f1f !important;
        font-size: 1.1em!important;
}
.chatbox_row_2 {
   background-color: #161617 !important;
        font-size: 1.1em!important;
}
#chatbox_members .member-title {
   background-color: #444!important;
   color: #fffff0!important;
   border: 1px solid #2e2e2e!important;
   box-shadow: inset 0 10px 10px #888!important;
   -moz-box-shadow: inset 0 10px 10px #888!important;
   -webkit-box-shadow: inset 0 10px 10px #888!important;
   text-shadow: 0 1px #cc0000!important;
}
.chatbox {
   background-color: #161617!important;
}
#chatbox {
	display: none!important;
}
.chatbox-title, .chatbox-title a.chat-title {
color: #cc0000!important;
}
#chatbox_header {
text-shadow: 0 1px #999!important;
font-weight: bold!important;
}
#chatbox_footer {
text-shadow: 0 0px #ffffff!important;
font-weight: none!important;
}*/


