#submit_button {
	text-transform: uppercase;
    font-size: 9px;
    color: #000;
    padding-right: 2px;
    margin-left: 3px;
}

#chatbox_members {
    color: black;
}

#chatbox {
    overflow-x: hidden;
    left: 141px;
}

#click_area_hide {
    cursor: pointer;
    width: 10px;
    background: rgb(85, 85, 85) none repeat scroll 0px 0px;
    color: rgb(170, 170, 170);
    font-size: 9px;
    border: 1px solid rgb(85, 85, 85);
    -moz-user-select: none;
    -webkit-user-select: none;
    height: 100%;
    line-height: 200%;
}

.swearIcons {
    padding-top: 1px;
}


/* unchecked chat button */

.format-message + label {
    border: 1px solid #AAA;
    background: #DDD;
}


/* checked chat button */

.format-message:checked + label {
    background: #CCC none repeat scroll 0% 0%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}

label[for="message"] {
	text-transform: uppercase;
    font-size: 10px;
    color: white;
    margin-right: 8px;
    margin-left: 5px;
}

td[width="10"] {
    display: none;
}

img[src="http://illiweb.com/fa/subsilver/wysiwyg/smilie.gif"] {
	src: "http://i.imgur.com/47NbRiV.gif";
}